.box{
    padding: 20px;
    border: 1px solid #ffffff;
    width: 30%;
    text-align: left;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    margin-right: 10px;
    font-size: 110%;
}

#personal input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    font-size: 110%;
    margin-top: 2px;
}

#personal input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

#nex{
    width: 30px;
}

.inputContainer:last-of-type::after{
    content: '%';
}

.completed {
    border-bottom: none;
}