.bar{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 25px;
    border-radius: 100px;
    background-color: #cacaca;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.content {
    height: 100%;
    background-color: #cacaca;
    border-radius: 100px;
    transition: width 0.8s ease-in-out;
    color: #ffffff;
}

#PV{
    background-color: #BF5858;
}

#San{
    background-color: #324474;
}

#PE{
    background-color: #00571d;
}

.status{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar input {
    width: 40px;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 105%;
    padding: 0;
    color: #ffffff;
}

.bar input:focus {
    outline: 1px solid #cacaca;
    border-radius: 5px;
}
