.changeDefault{
    color: #000000 !important;
    margin-top: 10px;
}

.inputMax {
    color: #000000 !important;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    text-align: center;
    font-size: 110%;
    width: 80px;
}

.changeDefault h2{
    font-size: 80%;
}