@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  font-family: 'Josefin Sans', 'sans-serif';
}

input, label {
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popUp{
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: fit-content;
  border-radius: 5px;
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: #000000;
  padding: 20px;
}

.popUp span{
  color: #000000;
  cursor: pointer;
  float: right;
}

.popUp span svg {
  fill: #000000 !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff5e;
  border-radius: 10px;
}