.ritualsContainer {
    margin-top: 40px;
    border: 1px solid #fff;
    padding: 10px 10px;
    height: 400px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-around;
    align-content: flex-start;
}

.ritualsContainerHeader {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}

.ritualsContainerHeader button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s linear;
}

.ritualsContainerHeader button:hover {
    scale: 1.05;
    opacity: 0.8;
}

.ritualBox {
    width: 45%;
    padding: 10px;
    max-height: 60px;
    overflow: hidden;
    transition: all 0.5s linear;
    border-radius: 2px;
    margin-bottom: 20px;
}

.ritualBox input {
    background-color: transparent;
    border: none;
    outline: none;
}

.ritualBox:hover {
    max-height: 150px;
    background-color: #fff;
    color: #000;
    overflow-y: scroll;
}

.ritualBox:hover input {
    color: #000;
}

.ritualBox:hover img {
    filter: invert(1);
}

.ritualHeader {
    display: flex;
    justify-content: space-between;
}

.ritualTitle {
    width: 40%;
}

.ritualTitle h3 {
    width: fit-content;
    display: inline;
    height: fit-content;
    margin: 0 auto;
    font-size: 100%;
}

.ritualTitle img {
    width: 50px;
    vertical-align: middle;
}

.ritualTitle input {
    display: inline;
    width: 40%;
}

.ritualInfo {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.ritualInfo input {
    width: 45%;
    margin: 0;
    height: fit-content;
}

.ritualInfo input:first-of-type,
.ritualInfo input:nth-child(2) {
    margin-top: 20px;
}

.ritualDescription {
    font-weight: 300;
}


.ritualPopUp input,
.ritualPopUp label{
    color: #000;
}